.table-row {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr;
}

.table-header {
    grid-template-columns: 4fr 2fr 2fr 2fr 2fr;
}

.table-body .thumbnail {
    height: 85px;
}

#page-number {
    pointer-events: none;
    border: none;
    width: 10px;
    text-align: center
}

#page-number::-webkit-inner-spin-button, 
#page-number::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}