/* ----------layout---------- */
.home-background {
    background: url(../img/home-background.jpg) no-repeat center center;
    background-size: cover;
}

.home-container {
    background-color: rgba(18, 19, 39, .94);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 24px;
    margin: 48px 0 100px 0;
    width: 1230px;
}

.film-hot-title {
    grid-column: 1/3;
}

.home-paginate {
    grid-column: 2/3;
}

.comming-soon-title {
    grid-column: 1/3;
    position: relative;
}

.home-footer {
    grid-column: 1/3;
}

/* -----title---- */
.home-title {
    color: white;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

/* ----- video trailer ----- */
.video-trailer iframe {
    -webkit-box-shadow: 0 8px 8px rgba(0, 0, 0, .27);
            box-shadow: 0 8px 8px rgba(0, 0, 0, .27);
}

/* ----- list film ----- */
.home-list-film {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.home-list-film > div {
    border-radius: 6px;
    color: white;
}

.home-list-film .img-wrapper {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 6px;
}

.home-list-film .img-wrapper img {
    width: 100%;
}

.film-item-container {
    display: grid;
    grid-template-columns: 72px 4fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    cursor: pointer;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.film-item-container:hover {
    background: rgba(255, 255, 255, .06)
}

.film-item-container:active {
    background: rgba(255, 255, 255, .02)
}

.film-item-container .img-wrapper {
    justify-self: center;
}

.film-item-container .list-item-name {
    font-size: 1.25rem;
}

.film-item-container .vote-btn {
    justify-self: end;
}

.film-item-container .vote-btn button {
    height: 32px;
    width: 54px;
    border-radius: 4px;
    background: none;
    color: #36BADD;
    border: 1px solid #36BADD;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in .1s;
    transition: opacity .2s ease-in .1s;
}

.film-item-container .vote-btn button:hover {
    background: #36BADD;
    color: white;
}

.film-item-container .vote-btn button:focus {
    outline: none;
}

.film-item-container .vote-btn button:active {
    background: none;
    color: #36BADD;
}

.film-item-container:hover button {
    opacity: 1;
}

.list-item-vote {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
}

.list-item-star {
    color: #FD2D55;
    font-size: 24px;
}

.list-item-score {
    font-size: 1.5rem;
    justify-self: center;
}

/* -------paginate--------- */

.home-paginate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    /* margin-bottom: 36px; */
}

.home-paginate .dot-container {
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}


.home-paginate .dot {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    display: inline-block;
    pointer-events: none;
}

/* ------footer------ */

.home-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
    position: relative;
    scroll-behavior: smooth;
}

.comming-soon-film {
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.comming-soon-film {
    height: 250px;
    width: 185px;
    margin-right: 24px;
    position: relative;
}

.comming-soon-film .img-wrapper {
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    height: 250px;
    width: 185px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
}

.comming-soon-film .img-wrapper img {
    height: 250px;
    width: 185px; 
}

.comming-soon-film .info-container {
    border: 2px solid white;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    opacity: 0;
    cursor: pointer;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.comming-soon-film .info-container div {
    width: 100%;
}

.comming-soon-film:hover .info-container {
    opacity: 1;
}

.comming-soon-film .info-container > div{
    padding: 40px 15px 15px 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0))
}

.comming-soon-film h2 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.comming-soon-film span {
    color: rgba(255, 255, 255, 0.7);
    font-size: .875rem;
}

/* ------- footer button ------ */

.triangle {
    color: rgba(255, 255, 255, 0.3);
    font-size: 32px;
    top: 146px;
    cursor: pointer;
}

.triangle:hover {
    color: rgba(255, 255, 255, 0.7);
}

.comming-soon-title .footer-left-btn {
    position: absolute;
    left: -36px;
    visibility: hidden;
}

.comming-soon-title .footer-right-btn {
    position: absolute;
    right: -36px;
    visibility: visible;
}

