* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202134;
}

#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

#app {
    margin-top: 71px;
}

.body-text {
    color: white;
    font-size: 0.875rem;
    line-height: 1.6;
}

.sub-header {
    color: white;
    font-size: 1rem;
}

.sub-title {
    color: #36BADD;
    font-size: 2rem;
    font-weight: 500;
}

.dropdown {
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.24);
    border-radius: 6px;
    background: #292A3C;
}

.dropdown a {
    color: white;
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1;
    padding: 16px;
}

.dropdown a:hover {
    background: #6541CD;
}

.dropdown a:hover:first-child {
    border-radius: 6px 6px 0 0;
}

.dropdown a:hover:last-child {
    border-radius: 0 0 6px 6px;
}

.primary-btn {
    color: white;
    font-size: 1rem;
    background: #6541CD;
    height: 40px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    padding: 0 20px;
    transition: box-shadow .1s ease-in-out;
}

.primary-btn:hover {
    background: #4A2AA8;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24)
}

.primary-btn:active {
    background: #6541CD;
}

.primary-btn:focus {
    outline: none;
}

.secondary-btn {
    color: #36BADD;
    font-size: 1rem;
    background: none;
    height: 40px;
    border: 1px solid #36BADD;
    border-radius: 100px;
    cursor: pointer;
    padding: 0 20px
}

.secondary-btn:hover {
    background: #36BADD;
    color: white;
}

.secondary-btn:active {
    background: none;
}

.secondary-btn:focus {
    outline: none;
}

.input-border {
    font-size: 1rem;
    background: none;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.7)
}

.input-border::placeholder {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3)
}

.input-border:focus {
    outline: none;
    border: 1px solid #36BADD;
    color: white
}