.thread-page {
    background: #202134;
}

/* ------------header------------- */
.thread-header-container {
    background: #292A3C;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 136px;
}

.thread-header-wrapper {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 1230px;
}

.thread-header-info h1 {
    color: white;
    font-size: 2rem;
    font-weight: 500
}

.thread-header-info h3 {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 4px;
}

.thread-header-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
}

.thread-header-vote {
    justify-self: center;
    align-self: center;
}

.thread-header-vote > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.thread-header-vote .star {
    font-size: 36px;
    color: #FD2D55;
    margin-right: 8px;

}

.thread-header-vote .score {
    color: white;
    font-size: 3rem;
}

.thread-header-vote > span {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.25rem;
}

/* ------------ body layout ----------- */

.thread-body-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.thread-body-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 24px;
    width: 1230px;
}

/* --------- aside ---------- */

.thread-aside {
    display: grid;
    grid-row-gap: 24px;
}

.thread-aside .poster-img {
    width: 100%;
}

/* --------- related films -------- */

.related h4 {
    color: #36BADD;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.related-item-wrapper {
    display: grid;
    background: #292A3C;
    border-radius: 6px;
}

.related-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 12px;
}

.related-item div:first-child {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 20px;
    align-items: center;
}

.related-item .img-wrapper {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: relative;
    background: red;
    border-radius: 4px;
}

.related-item .img-wrapper img {
    position: absolute;
    width: 100%;
}

.related-item .name {
    color: white;
    font-size: 1rem;
}

.related-item div:last-child {
    align-self: center;
    justify-self: end;
}

.related-item div:last-child .star {
    font-size: 24px;
    color: #FD2D55
}

.related-item div:last-child .score {
    color: white;
    font-size: 1.5rem;
}

/* ------- Thread article ----- */

/* ------info----- */
.thread-info {
    border-bottom: 1px solid rgba(255, 255, 255, .1)
}

.thread-info h1 {
    color: #36BADD;
    font-size: 2rem;
    font-weight: 400;
    margin: 12px 0;
}

.thread-info p {
    color: white;
    font-size: 0.875rem;
    line-height: 1.6;
}

.thread-info .release-date {
    margin-bottom: 4px;
}

.thread-info .plot {
    margin-bottom: 12px;
}

.thread-info .title {
    font-weight: 500;
}

.thread-info .score {
    display: flex;
    margin-bottom: 24px;
}

.imdb-score {
    background: #F5C518;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 8px;
}

.rotten-score {
    background: #C2C4C6;
    padding: 4px 8px;
    border-radius: 4px;
}

/* ------ thread vote ------ */

.rating-form {
    display: grid;
}

.thread-vote {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    margin-bottom: 20px;
}

.thread-vote .title {
    color: white;
    margin-top: 12px;
    font-size: 1.5rem;
}

.star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 4px;
}

.star-container input.star {
    display: none;
}

.star-container label.star {
    color: rgba(255, 255, 255, 0.3);
    font-size: 36px;
    line-height: 1.1;
    cursor: pointer;
    margin-right: 4px;
    transition: .2s ease-in-out;
}

.star-container label.star::selection {
    background: transparent;
}

.star-container label.star:hover ~ label.star,
.star-container label.star:hover {
    color: #FD2D55
}

.star-container input.star:checked ~ label.star {
    color: #FD2D55
}

.star-container input.star:active ~ label.star {
    color: rgba(255, 255, 255, 0.3);
}

/* ----- */

.rating-form textarea {
    background: #292A3C;
    width: 100%;
    height: 100px;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 0.875rem;
    padding: 12px;
    overflow: hidden;
    resize: none;
    margin-bottom: 8px;
}

.rating-form textarea:focus {
    outline: none;
}

.rating-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.875rem;
}

.rating-form-btn {
    color: white;
    font-size: 0.875rem;
    background: #6541CD;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 100px;
    justify-self: end;
    margin-bottom: 20px;
}

/* --------- COMMENT ---------- */

.comment-header {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    justify-items: start;
    margin-bottom: 32px;
}

.comment-sort span {
    color: #36BADD;
}

.comment-sort {
    position: relative;
}

.comment-sort .dropdown {
    position: absolute;
    right: 0;
    display: none;
}

.comment-item {
    display: grid;
    grid: auto auto / 48px 1fr;
    grid-gap: 4px 20px;
    margin-bottom: 28px;
}

.comment-item a {
    text-decoration: none;
}

.comment-item .avatar {
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 100px;
}

.comment-item .avatar img {
    width: 48px;
    height: 48px;
}

.comment-item .title-wrapper {
    display: grid;
    justify-items: start;
    align-items: end;
}

.title-wrapper a {
    align-self: center;
    margin-right: 8px;
    font-weight: 500;
}

.title-wrapper .score {
    border: 1px solid white;
    border-radius: 100px;
    padding: 4px 0 4px 7px;
    display: inline-block;
    width: 48px;
}

.title-wrapper .score span:first-child {
    color: #FD2D55;
    font-size: 1rem;
}

.title-wrapper .score span:last-child {
    color: white;
    font-size: 1rem;
}

.time-stamp {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    transform: translate(0, -4px)
}

.comment-item .content {
    grid-column: 2/3;
    background: rgba(255, 255, 255, 0.05);
    padding: 12px 16px;
    border-radius: 4px 12px 12px 12px;
    position: relative;
}

.heart-container .heart {
    height: 24px;
    width: 24px;
    background: #6541CD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.heart-container {
    display: flex;
    padding: 4px 10px 4px 4px;
    background: white;
    width: 60px;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.24);
    position: absolute;
    right: 20px;
    bottom: -20px;
}